02[[:space:]]Foundations[[:space:]]of[[:space:]]Modern[[:space:]]Finance[[:space:]]II/week15/lecture[[:space:]]videos/Optional[[:space:]]Module[[:space:]]1[[:space:]]CAPM[[:space:]]&[[:space:]]Beyond.mp4 filter=lfs diff=lfs merge=lfs -text
05[[:space:]]Mathematical[[:space:]]Methods[[:space:]]for[[:space:]]Quantitative[[:space:]]Finance/week2/lecture[[:space:]]videos/13[[:space:]]Testing[[:space:]]the[[:space:]]random[[:space:]]walk[[:space:]]in[[:space:]]R.mp4 filter=lfs diff=lfs merge=lfs -text
05[[:space:]]Mathematical[[:space:]]Methods[[:space:]]for[[:space:]]Quantitative[[:space:]]Finance/week3/recitation[[:space:]]videos/01[[:space:]]Model[[:space:]]identification[[:space:]]and[[:space:]]estimation.mp4 filter=lfs diff=lfs merge=lfs -text
